@import "tailwindcss";

:root {
  --background: #FDFDFB;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-serif {
  font-family: var(--font-playfair);
}
